{% extends 'base.html' %}

{% block title %}Home{% endblock %}

    {% load static %}
    {% load custom_filters %}
   
    {% block extrastyle %}
    <link href="{% static 'css/home_page.css' %}" rel="stylesheet">
    
    {% endblock %}

{% block content %}
<main id="main">
    <canvas id="spaceCanvas"></canvas>

    {% include 'home_page_header.html' %}
    <section id="cards-section">
        {% for section in getSections %}
        
        <div class="cards {{ section.tagId }}" style="background-image: url('media/{{ section.picture }}');">
            <div class="card-front">
                <h2><a href="{% url 'sections:section' section.id %}">{{ section.title }}</a></h2>
            </div>
            <div class="card-back">
                <a href="{% url 'sections:section' section.id %}">
                    <h3>Description</h3>
                    <p> {{ section.description|truncate_description:270 }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
        
    </section>
    

    <script>

    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 10000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };



        const canvas = document.getElementById('spaceCanvas');
        const ctx = canvas.getContext('2d');
        const stars = [];
        const starCount = 100;
        const cursorAtoms = [];
        const cursorAtomCount = 5;
        const colors = ['#95bcf5', '#fc6a9a' ,'#f0d3bd', '#95dbf5', '#fff']
        const body = document.getElementById("main")

        let angle = 0;

        canvas.width = body.clientWidth;
        canvas.height = body.clientHeight;

        function random(min, max) {
            return Math.random() * (max - min) + min;
        }

        function createStars() {
            for (let i = 0; i < starCount; i++) {
                stars.push({
                    x: random(0, canvas.width),
                    y: random(0, canvas.height),
                    radius: random(0.5, 2),
                    speed: random(0.2, 1)
                });
            }
        }

        function createCursorAtoms() {
            for (let i = 0; i < cursorAtomCount; i++) {
                cursorAtoms.push({
                    x: 30 + random(-10, 20),
                    y: 30 + random(-10, 20),
                    nucleusRadius: random(3, 7),
                    electronRadius: random(1, 2),
                    orbitRadius: random(10, 20),
                    orbitSpeed: random(0.02, 0.05),
                    orbitAngle: random(0, 2 * Math.PI)
                });
            }
        }

        function drawStars() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = colors[Math.floor(Math.random() * colors.length)];
            stars.forEach(star => {
                ctx.beginPath();
                ctx.arc(star.x, star.y, star.radius, 0, 2 * Math.PI);
                ctx.fill();
            });
        }

        function drawCursorAtoms() {
            cursorAtoms.forEach(atom => {
                const electronX = atom.x + atom.orbitRadius * Math.cos(atom.orbitAngle);
                const electronY = atom.y + atom.orbitRadius * Math.sin(atom.orbitAngle);

                // Draw nucleus
                ctx.fillStyle = '#fff';// '#f0d3bd';
                ctx.beginPath();
                ctx.arc(atom.x, atom.y, atom.nucleusRadius, 0, 2 * Math.PI);
                ctx.fill();

                // Draw electron
                ctx.fillStyle = colors[Math.floor(Math.random() * colors.length)] //'#F0DEA5';
                ctx.beginPath();
                ctx.arc(electronX, electronY, atom.electronRadius, 0, 2 * Math.PI);
                ctx.fill();

                // Draw orbit path
                ctx.strokeStyle = 'rgba(255, 255, 255, 0.3)';
                ctx.beginPath();
                ctx.arc(atom.x, atom.y, atom.orbitRadius, 0, 2 * Math.PI);
                ctx.stroke();
            });
        }

        function updateStars() {
            stars.forEach(star => {
                star.y += star.speed;
                if (star.y > canvas.height) {
                    star.y = 0;
                    star.x = random(0, canvas.width);
                }
            });
        }

        function updateCursorAtoms() {
            cursorAtoms.forEach(atom => {
                atom.orbitAngle += atom.orbitSpeed;
                if (atom.orbitAngle > 2 * Math.PI) {
                    atom.orbitAngle = 0;
                }

            });
        }

        function animate() {
            drawStars();
            // drawCursorAtoms();
            updateStars();
            // updateCursorAtoms();
            requestAnimationFrame(animate);
        }

        function updateCursorAtomsPosition(event) {
            cursorAtoms.forEach(atom => {
                atom.x = event.clientX + random(-10, 10);
                atom.y = event.clientY + random(-10, 10);
            });
        }

        createStars();
        createCursorAtoms();
        animate();

        // window.addEventListener('mousemove', updateCursorAtomsPosition);

        window.addEventListener('resize', () => {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            stars.length = 0;
            createStars();
        });
    </script>
{% endblock %}

