{% block extrastyle %}
<style>
    footer {
        height: 50px;
        text-align: right;
        background-color: rgba(31, 97, 251, 0.25);
        margin-top: 40px;
        padding: 10px 10px 3px 0px;
        color: #F3DCD0;
        box-shadow: 0px 0px 4px #F3DCD0;

        position: relative;
        bottom: 0;
    }
    footer a {
        text-decoration: none;
        color: #F3DCD0;
    }
</style>
{% endblock %}
<footer>
    <p>Made by <a href="https://www.linkedin.com/in/1128khouloud/">Khouloud</a> &copy;2024</p>
</footer>