<div id="top-left-menu">
    <ul>
        {% if user.is_authenticated %}
        <li>
            <a href="#"><span>Hello {{ user.username }}!</span></a>
        </li>
        <li>
            <form method="post" action="{% url 'user:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form></li>
        {% else %}
        <li><a href="{% url 'user:login' %}">Login</a></li>
        <li><a href="{% url 'user:register' %}">Register</a></li>
        {% endif %}
    </ul>
</div>
