{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ getContent.title }}
{% endblock %}

{% block extrastyle %}
<style>
    body {
        background-color: black;
    }
    .main {
        min-height: 100vh;
        padding-bottom: 40px;
        /* background-color: rgb(1, 32, 56); */
        font-family: "Short Stack", cursive;
        font-weight: 500;
        font-style: normal;
    }
    #section-container {
        display: flex;
        margin-top: 1%;
        min-width: 700px;

    }
    .section-contents {
        width: 80%;
        min-height: 87vh;
        margin: auto;
        /* font-family: Arial, sans-serif; */
        border-radius: 10px;
        /* background-color: cornflowerblue; */

        background-color: #F3DCD0;
        padding: 20px;
        box-sizing: border-box;
        /* flex: 1; */
        box-shadow: 0px 0px 5px 5px gray;
    }
    .section-contents .contents {
        width: 95%;
        margin: auto;
    }
    .section-contents .contents li {
        list-style: none;
        margin-left: 20px;
        padding: 5px;
    }
    .section-contents .contents input {
        border: 1px intset rgb(187, 185, 183);
        border-radius: 8px;
        padding: 3px;
    }
    .section-contents .contents img {
        display: block;
        margin: auto;
        /* width: 300px;
        height: 300px; */
    }
    .level {
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 0.6rem;
    }
    .Beginner {
        background-color: lightgreen;
    }
    .Medium {
        background-color: lightyellow;
    }
    .Advanced {
        background-color: lightcoral;
    }

    .sections-menu {
        width: 20%;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; */
    }
    .sections-menu .sections-menu-elements {
        padding: 10px;
        display: block;
        /* background-color: rgba(31, 97, 251, 0.25); */
        /* background-color: aliceblue; */
        margin: 5px;
        box-shadow: 0px 0px 1px 2px gray;
        /* height: 100px; */

    }
    .sections-menu .sections-menu-elements:hover {
        background-color: #F3DCD0;
    }
    .sections-menu a {
        text-decoration: none;
        color: coral;

    }
    .active {
        background-color: #F3DCD0;
        color: rgb(194, 79, 59);
    }
    .contents {
        min-width: 560px;
    }
    /* .grid-cell {
        width: 9%;
        text-align: center;
    } */
    #sudoku-grid input {
        width: 35px;
        height: 35px;
        text-align: center;
    }
    .prefilled {
        background-color: aliceblue;
    }
    #puzzle-container {
        margin-left: 10%;
        text-align: center;
    }
    .links a {
        color: rgb(112, 151, 244);
        text-decoration: none;
        font-weight: bold;
    }
    h1 {
        color:rgb(6, 54, 167)
    }
    h2 {
        color:rgb(31, 97, 251)
    }
    h3 {
        color:rgb(83, 26, 241);
    }
    h4 {
        color:rgb(50, 77, 252)
    }
    h5 {
        color: rgb(98, 41, 255);
    }
    p {
        color: rgb(1, 25, 80);
        padding-bottom: 18px;
    }
    @media screen and (max-width: 1024px) {
        .sections-menu {
            width: 100%;
            display: flex;
            justify-content: space-around;
            overflow-x: scroll;
            order: 1;

        }
        #section-container {
            flex-direction: column;
        }
        .section-contents  {
            width: 100%;
            order: 2;
        }
    }
</style>


{% endblock %}

{% block main %}
        
{% include 'top-navbar.html' %}

<section id="section-container">

<div class="section-contents">
    <div class="links"><a href="{% url 'sections:section' getContent.category.section.id %}">{{ getContent.category.section.title }}</a> > <a href="#">{{getContent.category.title}}</a> > <a href="{% url 'sections:content' getContent.category.section.id getContent.category.title getContent.category.id getContent.id %}">{{getContent.title}}</a> </div>
    <hr>
    <div class="contents">
            <div>{{ getContent.text|safe }}</div>
    </div>

</div>
<div class="sections-menu">
    {% for content in getAllContents %}
    <!--   content.category.section.id  -->
    <a href="{% url 'sections:content' section_id category_name category_id content.id %}">
        <span class="sections-menu-elements {% if getContent.id == content.id %} active {% endif %}">{{ content.title }} - {{ content.contentType }}</span>
    </a>
    
    {% endfor %}
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
// scale content images
let images = document.querySelectorAll('.contents img')
for (let i = 0; i < images.length; i++){
    let scaller = 1
    if (images[i].offsetWidth > 1000) {
        scaller = 3
    }
    if (images[i].offsetWidth > 2000) {
        scaller = 6
    }
    
    let width = (images[i].offsetWidth / scaller) + "px"
    let height  = (images[i].offsetHeight / scaller) + "px"
    images[i].setAttribute('style', `width:${width}; height:${height};`)

}

</script>
<!-- <script type="text/javascript" src="{% static '/js/matrix.js' %}"></script> -->
{% endblock %}
