{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ getSection.title }}
{% endblock %}

{% block extrastyle %}

<style>
    body {
        background-color: black;
    }
    .main {
        min-height: 100vh;
        padding-bottom: 40px;
        /* background-color: rgb(1, 32, 56); */
        font-family: "Short Stack", cursive;
        font-weight: 400;
        font-style: normal;
    }
    #section-container {
        display: flex;
        margin-top: 1%;

    }
    .section-contents {
        width: 83%;
        min-height: 87vh;
        margin: auto;
        /* font-family: Arial, sans-serif; */
        border-radius: 10px;
        /* background-color: cornflowerblue; */

        background-color: #F3DCD0;
        padding: 20px;
        box-sizing: border-box;
        /* flex: 1; */
        box-shadow: 0px 0px 5px 5px gray;
    }
    .section-contents .contents {
        /* margin-top: 20px; */
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .section-picture {
        margin-right: 3%;
    }
    /* .section-details {
        
    } */
    .level {
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 0.6rem;
    }
    .Beginner {
        background-color: lightgreen;
    }
    .Medium {
        background-color: lightyellow;
    }
    .Advanced {
        background-color: lightcoral;
    }
    .category-contents li {
        list-style-type: none;
        margin-left: 25px;
        
        /* font-size: 0.9rem; */
    }
    .category-contents a {
        text-decoration: none;
        color: black;
    }
    .sections-menu {
        width: 17%;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; */
        max-height: 100vh;
        overflow-y: scroll;
    }
    
    .sections-menu .sections-menu-elements {
        padding: 10px;
        display: block;
        /* background-color: rgba(31, 97, 251, 0.25); */
        /* background-color: aliceblue; */
        margin: 5px;
        box-shadow: 0px 0px 1px 2px gray;
        /* height: 100px; */

    }
    .sections-menu .sections-menu-elements:hover {
        background-color: #F3DCD0;
    }
    .sections-menu a {
        text-decoration: none;
        color: coral;

    }
    .active {
        background-color: #F3DCD0;
        color: rgb(194, 79, 59);
    }
    .contentType {
        padding: 5px;
        background-color: rgb(246,151,142) ;
        color: rgb(130, 84, 255);
        /* border-left: 3px solid black; */
        border-right: 3px ridge black;
        border-top: 8px solid #F3DCD0;
        border-bottom: 8px solid #F3DCD0;

        /* border-top-right-radius: 20px; */
    }
    .extra-tools {
        text-align: center;
    }
    .extra-tools a {
        color: rgb(194, 79, 59);
        text-decoration: none;
    }
  
    h1 {
        color:rgb(6, 54, 167)
    }
    h2 {
        color:rgb(31, 97, 251)
    }
    h3 {
        color:rgb(83, 26, 241);
    }
    h4 {
        color:rgb(50, 77, 252)
    }
    h5 {
        color: rgb(98, 41, 255);
    }
    p {
        color: rgb(1, 25, 80);
    }
    @media screen and (max-width: 1024px) {
        .sections-menu {
            width: 100%;
            display: flex;
            justify-content: space-around;
            overflow-x: scroll;
            order: 1;

        }
        #section-container {
            flex-direction: column;
        }
        .section-contents  {
            width: 100%;
            order: 2;
        }
    }
    
</style>

{% endblock %}

{% block main %}
        
{% include 'top-navbar.html' %}

<section id="section-container">

<div class="section-contents matrix-content ">
    
    <div class="contents">
        <div class="section-picture">
            <img src="/media/{{ getSection.picture }}" width="300px" height="370px" alt="{{ getSection.title }}"/>
            {% if getSection.title == "Music Section" %}
            <div class="extra-tools">
                <a href="{% url 'musicStudio:studio' %}">Make some melodies?!</a>
            </div>
            {% endif %}
        </div>
        <div class="section-details">
            <div>
                <h2>{{ getSection.title }}</h2>
                <p>{{ getSection.description }}</p>
            </div>
            <div>
                <div>
                    <h3>Section Contents</h3>
                </div>
                
                {% for category in getSection.categories %}
                {% if user.is_staff %}
                <ul class="category-contents"><h4>{{ category.title }}</h4>
                 
                    {% for content in category.contents %}
                    <li>
                        <a href="{% url 'sections:content' getSection.id category.title category.id content.id %}"><h5><span class="contentType">{{ content.contentType }}</span>  {{ content.title }} <span class="level {{ content.level }}">{{ content.level }}</span></h5> 
                        <div class="content-details">
                            <p>{{ content.description|safe }}  </p>
                        </div></a> 
                        <hr>

                    </li>
                    {% endfor %}
                </ul>
                {% elif category.is_published %}
                <ul class="category-contents"><h4>{{ category.title }}</h4>
                 
                    {% for content in category.contents %}
                    {% if content.is_published %}
                    <li>
                        <a href="{% url 'sections:content' getSection.id category.title category.id content.id %}"><h5><span class="contentType">{{ content.contentType }}</span>  {{ content.title }} <span class="level {{ content.level }}">{{ content.level }}</span></h5> 
                        <div class="content-details">
                            <p>{{ content.description }}  </p>
                        </div></a> 
                        <hr>

                    </li>
                    {% endif %}

                    {% endfor %}
                </ul>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="sections-menu">
    {% for section in getAllSections %}
    <a href="{% url 'sections:section' section.id %}">
        <span class="sections-menu-elements {% if getSection.id == section.id %} active {% endif %}">{{ section.title }}</span>
    </a>
    
    {% endfor %}
</div>
</section>
{% endblock %}

{% block scripts %}
<!-- <script type="text/javascript" src="{% static '/js/matrix.js' %}"></script> -->
{% endblock %}




