<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>

  <title>Play Multiple Instruments from JSON</title>
</head>
<body>
  <button onclick="start()">Play Notes</button>
  <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
  <script>
    function start() {
        $.getJSON({
            // url: "{% static '/Bach_-_Brandenburg_Concerto_No._3_-_BWV_1041.json' %}",
           url: "{% static '/jsonfiles/trials/deadEndLatest.json' %}",
          //  url: "{% static '/jsonfiles/trials/paganini.json' %}",
          //  url: "{% static '/jsonfiles/trials/caprice3.json' %}",
           //url: "{% static '/gemMidiTo.json' %}",
            // url: "{% static '/jsonfiles/latestgem.json' %}",
            success: function ( data ) { 
                console.log(data)
                playPiece(data)
           
          }
        })
    }
  </script>
</body>
</html>
