{% extends 'base.html' %}

{% block title %}Music Studio{% endblock %}

    {% load static %}
    {% block extrahead %}

        <script src='{% static "/js/node_modules/webaudiofont/npm/dist/WebAudioFontPlayer.js" %}'></script>
        <!-- <script src='https://surikov.github.io//webaudiofont/npm/dist/WebAudioFontPlayer.js'></script> -->

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- Drums -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/12835_17_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12840_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12842_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12851_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12850_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12848_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12841_1_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/12846_0_SBLive_sf2.js'></script>
        
        <!-- Bass finger --> 
        <script src='https://surikov.github.io/webaudiofontdata/sound/0330_FluidR3_GM_sf2_file.js'></script>
        <!-- Bass Slap -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0360_FluidR3_GM_sf2_file.js'></script>
        <!-- Electric Guitar clean -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0270_FluidR3_GM_sf2_file.js'></script>
        <!-- Electric Guitar jazz -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0260_FluidR3_GM_sf2_file.js'></script>
        <!-- acoustic Guitar steel -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0250_JCLive_sf2_file.js'></script>

        <!-- Drawbar organ -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0160_FluidR3_GM_sf2_file.js'></script>

        <!-- Violin --> 
        <script src='https://surikov.github.io/webaudiofontdata/sound/0400_Aspirin_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0400_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0400_GeneralUserGS_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0400_FluidR3_GM_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0401_Aspirin_sf2_file.js'></script>

        <!-- Cello -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0420_Aspirin_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0420_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0421_GeneralUserGS_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0421_FluidR3_GM_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0420_FluidR3_GM_sf2_file.js'></script>

        <!-- 41. Viola: Strings -->  
        <script src='https://surikov.github.io/webaudiofontdata/sound/0410_Aspirin_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0410_JCLive_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0410_SBLive_sf2.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0410_FluidR3_GM_sf2_file.js'></script>

        <!-- Contrabass --> 
        <script src='https://surikov.github.io/webaudiofontdata/sound/0430_Aspirin_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0430_FluidR3_GM_sf2_file.js'></script>

        <!-- Harp -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0460_Aspirin_sf2_file.js'></script> 
        <script src='https://surikov.github.io/webaudiofontdata/sound/0460_JCLive_sf2_file.js'></script> 
        <script src='https://surikov.github.io/webaudiofontdata/sound/0460_GeneralUserGS_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0460_FluidR3_GM_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0461_FluidR3_GM_sf2_file.js'></script>

        <!-- Lead 8 (bass + lead): Synth Lead -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0870_Aspirin_sf2_file.js'></script>

        <!-- Synth bass -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0380_FluidR3_GM_sf2_file.js'></script>


        <!-- Pad 4 (choir): Synth Pad  -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0910_Aspirin_sf2_file.js'></script>

        <!-- //Closed Hi-hat -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/12842_0_SBLive_sf2.js'></script>

        <!-- clap-->
        <script src='https://surikov.github.io/webaudiofontdata/sound/12839_0_SBLive_sf2.js'></script>
        <!-- Piano -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0000_Aspirin_sf2_file.js'></script>

        <!-- Saxophone -->
        <!-- Baritone -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0670_Aspirin_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0670_FluidR3_GM_sf2_file.js'></script>

        <!-- Alto -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0650_Aspirin_sf2_file.js'></script>

        <!-- Acoustic Bass -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0320_Aspirin_sf2_file.js'></script>
        <!-- Rock organ (electric organ one) -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0180_Aspirin_sf2_file.js'></script>
        <!--  -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0560_Aspirin_sf2_file.js'></script>
        <!-- Trombone: Brass -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0570_Aspirin_sf2_file.js'></script>
        <!-- Glockenspiel: Chromatic Percussion -->
        <script src='https://surikov.github.io/webaudiofontdata/sound/0090_Aspirin_sf2_file.js'></script>
        <!-- Percussion -->
        <!-- <script src='https://surikov.github.io/webaudiofontdata/sound/0570_Aspirin_sf2_file.js'></script> -->

        <script src='https://surikov.github.io/webaudiofontdata/sound/0520_Chaos_sf2_file.js'></script>
        <script src='https://surikov.github.io/webaudiofontdata/sound/0530_Soul_Ahhs_sf2_file.js'></script>

        <script type="text/javascript" src='{% static "/js/studio.js" %}'></script>

        <script>
			
		</script>
        <style>
            body {
                background-color: black;
            }
            .main {
                min-height: 100vh;
                padding-bottom: 40px;
                /* background-color: rgb(1, 32, 56); */
                font-family: "Short Stack", cursive;
                font-weight: 400;
                font-style: normal;
            }
            .studio-section {
                width: 95%;
                margin: 1% auto;
                background-color: #F3DCD0;

                /* font-family: Arial, sans-serif; */
                border-radius: 10px;
                /* background-color: cornflowerblue; */

                background-color: #F3DCD0;
                padding: 20px;
                box-sizing: border-box;
                /* flex: 1; */
                box-shadow: 0px 0px 5px 5px gray;

                
            }
            #section-elements {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
            }
            .form-section {
                width: 25%;
            }
            .playhead-section {
                width: 75%;
            }
           
            #timeline-container {
                width: 80%;
                min-height: 70vh; /* Adjust height to fit instrument lines */
                margin: 20px auto;
                border: 1px solid #ccc;
                overflow: hidden;
                position: relative; /* For positioning the playhead */
            }
            .track {
                height: 35px;
                border-bottom: 1px solid #eee;
                position: relative;
            }
            .note {
                height: 45%;
                width: 99%;
                border: 1px inset #5a2dff;
                border-radius: 1%;
                box-sizing: border-box;
                /* background-color: rgb(112, 151, 244); /* Light blue */
                position: absolute; 
                bottom: 0; 
            }
            #playhead {
                z-index: 999;
                position: absolute;
                top: 0;
                left: 0px;
                width: 2px;
                height: 100%;
                background-color: #4e23a6;
                 transition: 10%;
            }
          
            .instrument-name {
                position: relative;
                z-index: 999;
            }
            
            #loading-song {
                text-align: center;
                min-height: 100vh;
                width: 95%;
                margin: auto;
                background-color: #4f23a67d;
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                top: 22.5%;
                bottom: 0;
            }
            .tone-span {
                /* padding-top: -50px; */
                font-weight: 500;
                font-size: 0.9rem;

            }
            .links a {
                color: rgb(112, 151, 244);
                text-decoration: none;
                font-weight: bold;
            }
            h1 {
                color:rgb(6, 54, 167)
            }
            h2 {
                color:rgb(31, 97, 251)
            }
            h3 {
                color:rgb(83, 26, 241);
            }
            h4 {
                color:rgb(50, 77, 252)
            }
            h5 {
                color: rgb(98, 41, 255);
            }
            p {
                color: rgb(1, 25, 80);
            }
            .form-section label {
                display: block;
                line-height: 1.8;
                color: rgb(120, 75, 255);
            }
            .form-section input[type=text], .form-section select {
                width: 100%;
            }
            #controls select {
                width: 20%;
            }
            .form-section input[type=text], .form-section select, #controls select {
                /* line-height: 1.8; */
                padding: 5px;
                box-sizing: border-box;
                margin-bottom: 5px;
                border-radius: 10px;
                border: none;
                background-color: white;

            }
            #id_feel, #id_instruments, #id_drums {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            #id_feel div, #id_instruments div, #id_drums div {
                padding-left: 5px;
                padding-right: 5px;
                margin: 5px;
                background-color: rgb(242, 160, 179);
                color: rgb(120, 75, 255);
                border-radius: 10px;
                box-sizing: border-box;
            }
            #id_feel label:hover, #id_instruments label:hover, #id_drums label:hover {
                cursor: pointer;
            }
            .form-section fieldset {
                border-color: #4e23a6;
                margin-top: 10px;
            }
            .form-section legend {
                line-height: 1.8;
                color: rgb(120, 75, 255);
            }
            #submit {
                text-align: right;
            }
            #controls div {
                /* text-align: center; */
                width: 85%;
                margin: auto;
            }
            @media screen and (max-width: 1024px) {
                .studio-section {
                    width: 100%;
                }
                #section-elements {
                    flex-direction: column;
                }
                .playhead-section{
                    /* display: block; */
                    width: 100%;
                    margin: auto;

                }
                .form-section {
                    /* display: block; */
                    width: 75%;
                    margin: auto;

                }
                #controls div {
                    /* text-align: center; */
                    width: 80%;
                }
                
            }
        </style>

{% endblock %}

{% block main %}

{% include 'top-navbar.html' %}

<section class="studio-section">
    <div class="links"><a href="{% url 'sections:section' 1 %}">Music Section</a> > <a href="#">Studio</a></div>
    <hr>
    <div id="controls">
        <div>
        <select id="select-tone">
            <!-- <option value=""></option> -->
            {% for tones in allGenerated %}
            <option value="{{tones.id}}" data-url="{% url 'musicStudio:getSelectedTones' tones.id %}">{{tones.title}}</option>
            {% endfor %}
        </select>
        <button id="play" type="button">Play Generated</button>
        <button id="play-loop" type="button">Loop Generated</button>
        <button id="stop" type="button" data-url="" >Stop</button>
        </div>
    </div>
    <div id="section-elements">
        
        <div class="playhead-section">
            <div id="timeline-container">
                <div id="playhead"></div> 
                <!-- Tracks will be added here by JavaScript -->
            </div>
            
        </div>
        <!-- <button id="generate" data-url="{% url 'musicStudio:generate.music' %}" >Generate</button> -->
        <div class="form-section">
            <form id="generate-form" method="post">
                <h4>Chose your music parametres:</h4>
                {% csrf_token %}
                {{ generater.as_div }}
                <div id="submit">
                    <button id="generate" data-url="{% url 'musicStudio:generate.music' %}" type="button">Generate</button>
                </div>
            </form>
        </div>
    </div>
    <a href="{% url 'musicStudio:task_status' ':job' %}" id="helper" style="display: none;" ></a>
    <div id="loading-song"><img src="/media/imgs/drumming-banging-drums.gif" > <p>Generating ...</p></div>
</section>


{% endblock %}
