nav, nav ul, #cards-section {
    display: flex;
    justify-content: space-between;
}
nav ul li {
    margin-right: 20px;
    list-style-type: none;
}

nav {
    /* width: 100%; */
    /* position: fixed;; */
    /* margin-bottom: 2px; */
    border-bottom: rgba(243,220,208,0.2) solid 2px;
}
#logo img {
    width: 100px;
    height: 50px;
    padding-left: 9px;
}
/* #logo, nav ul { */
nav ul {
    padding-top: 10px;
}
#logo {
    padding: 5px;
    /* padding-left: 20px; */
    /* padding-left: 20px; */
}
#logo a, nav ul a {
    text-decoration: none;
    /* color: #db024a; */
    color: #DD5A44;
        /* #cf3e6f;  */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3DCD0 ; */
    font-size: 1.2rem;
    /* font-weight: bolder; */
    font-family: "Roboto Slab", serif;
    /* font-family: "Danfo", serif; */
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
}
#btn-user-menu {
    /* margin-right: 35px; */
    margin-right: 2px;
    width: 120px;
    text-align: center;
    padding-top: 15px;
}
button {
    background-color: inherit;
    padding: 5px 9px;
    border: 1px groove #F3DCD0;
    border-radius: 5px;
    color: #DD5A44;
}
button:hover {
    cursor: pointer;
    background-color: #F3DCD0;
    color: #DD5A44;
}
#icon-user-menu {
    width: 40px;
    height: 40px;
    /* background-color: #DD5A44; */
    /* padding: 10px; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 8px #F3DCD0; */
    border: none;
    font-size: 1.5rem;
    background-color: #F3DCD0;
    color: #DD5A44;
}

#user-menu {
    display: none;
    position: absolute;
    z-index: 999;
    /* margin-top: 35px; rgba(31, 97, 251, 0.3); */
    background-color: #F3DCD0;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #F3DCD0;
    border: 1px solid rgb(112, 151, 244);

}
#user-menu ul {
    padding: 0px;
    margin: 0px;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
#user-menu li {
    margin: 0;
    padding: 5px 5px 5px 5px;
    /* margin-left: 5px; */
    width: 100%;
    border-bottom: 1px solid rgb(112, 151, 244);
     /* rgba(31, 97, 251, 1); */
    box-sizing: border-box;
    /* padding-bottom: 5px;   #F3DCD0*/
}
#user-menu li:hover {
    background-color: #f8efea;
}
#user-menu li:first-child {
    border-radius: 10px 10px 0 0;
}
#user-menu li:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}
#user-menu li button {
    background-color: inherit;
    border: none;
}

#user-menu li a {
    font-size: 0.8rem;
    color: #DD5A44 ;
}
#user-menu li button {
    width: 100%;
}
.show {
    display: block;
}