/* static/css/night-mode.css */
.ck-editor__editable {
    background-color: #2e2e2e !important;
    color: #ffffff !important;
}

.ck.ck-editor__editable.ck-rounded-corners {
    border-color: #444444;
}

.ck-toolbar {
    background-color: #3e3e3e !important;
    border-color: #444444 !important;
}

.ck-toolbar .ck-button {
    color: #ffffff !important;
}

.ck-toolbar .ck-button.ck-on {
    background-color: #555555 !important;
}
